@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Light Mode */
  .light {
    --text-color: black;
    --foreground-color: #fcfcfc;
    --background-style: radial-gradient(#e6e6e6 0.8px, transparent 0),
      radial-gradient(#e6e6e6 0.8px, #fcfcfc 0);
  }

  /* Dark Mode */
  .dark {
    --text-color: white;
    --foreground-color: #1f2028;
    --background-style: radial-gradient(#2e3039 0.8px, transparent 0),
      radial-gradient(#2e3039 0.8px, #1f2028 0);
  }

  .gooey-content {
    display: inline;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    -moz-box-decoration-break: clone;
    -ms-box-decoration-break: clone;
    -o-box-decoration-break: clone;
    filter: url(#goo);
    -webkit-filter: url(#goo);
    -moz-filter: url(#goo);
    -ms-filter: url(#goo);
    -o-filter: url(#goo)
}
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: var(--background-style);
  background-position:
    0 0,
    16px 16px;
  background-size: 32px 32px;
  opacity: 1;
}

.full-bleed {
  @apply w-[100vw] relative left-[50%] right-[50%] -ml-[50vw] -mr-[50vw];
}

.hover-underline-animation {
  @apply relative inline-block;
}

.hover-underline-animation::after {
  @apply absolute bottom-0 left-0 h-[2px] w-full origin-left scale-x-0 bg-black transition-all ease-in-out content-[''];
}

.hover-underline-animation:hover::after {
  @apply scale-x-100;
}
